    <!-- JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery-1.10.2.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script src="{{ site.baseurl }}/js/d3.v3.min.js"></script>
    <script src="{{ site.baseurl }}/js/jquery.dataTables.js"></script>
    <script src="{{ site.baseurl }}/js/dataTables.bootstrap.js"></script>
    <script src="{{ site.baseurl }}/js/Charts.js"></script>
    <script src="{{ site.baseurl }}/js/Maps.js"></script>
    <script src="{{ site.baseurl }}/js/Tables.js"></script>

{% for report in site.data.report-balance-days %}
    <script type="text/javascript">
        renderMap('{{ site.baseurl }}/data/coa_sanitation_balance_days_{{ report.lname }}.geojson','{{ report.lname }}map','{{ report.lname }}');
        renderChart('{{ site.baseurl }}/data/{{ report.lname }}day.csv','{{ report.lname }}timechart','day','truckhours');
        renderChart('{{ site.baseurl }}/data/{{ report.lname }}day.csv','{{ report.lname }}canchart','day','cans');
        renderTable('https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv','{{ report.lname }}data');
    </script>
{%  endfor  %} 
{% for report in site.data.report-balance-trucks %}
    <script type="text/javascript">
        renderSubMap('{{ site.baseurl }}/data/coa_sanitation_balance_trucks_{{report.lname}}_plan.geojson','proposed{{report.lname}}map','{{report.lname}}proposed')
        renderChart('{{ site.baseurl }}/data/{{report.lname}}proposedtruck.csv','proposed{{report.lname}}timechart','truck','hours');
        renderChart('{{ site.baseurl }}/data/{{report.lname}}proposedtruck.csv','proposed{{report.lname}}canchart','truck','cans');
        renderTable('https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{report.lname}}proposedtruck.csv','{{report.lname}}proposeddata');
    </script>
{%  endfor  %}
    <script type="text/javascript">
        renderChart('{{ site.baseurl }}/data/cancleanup.csv','CanDatabaseCleanupChart','month-year-count','percent');
    
    //renderTable('https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/correlation-matrix1.csv','myGrid')
    </script>
</body>
</html>