 <div  id='{{ report.name }}-balance-days' class="container">
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row" id="CanDatabaseCleanup" >
          <div class="container">
            <div class="row" >
              <div class="col-md-7 col-xs-7">
                <div id="CanDatabaseCleanupChart" ></div>
              </div>
              <div class="col-md-5 col-xs-5">
                <h3>Can Database</h3>
                <h4>Clean-up</h4>
                <p>As part of the Trash day balance project we also cleaned up the trash can database.  To ensure accurate can counts on each street.  Below is a chart showing the clean-up. The cleanup got us from not having the location on 10% of our cans to under 1%!</p>
                <a class="btn btn-default fa fa-download" href="https://raw.githubusercontent.com/cityofasheville/sanitationreport/gh-pages/data/cancleanup.csv"  target="_blank"> Get Can Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>