<ul class="list-unstyled">
  <li>Number of cans  <hr> <pre>(75% of all out )</pre><hr></li>
  <li>Distance of street segment</li> 
  <li>Curveness of road using <a href="http://en.wikipedia.org/wiki/Sinuosity" >Sinuosity </a>index
    <hr>
    <pre>end elevation - start elevation / length )*100 </pre>
    <hr>
  </li>
  <li>Streets that a truck can back only</li>
  <li>Slope of road segment
    <hr>
    <pre>end elevation - start elevation / length )*100 </pre>
    <hr>
  </li>
  <li>Speed limit</li>
  <li>Road classification types</li>
  <li>Density of cans along the road</li>
</ul>