<div class="row" id="Methodology">
	<div class="col-lg-12">
		<h3>Methodology</h3>
		<hr>
		<p>To balance and optimize sanitation routes, it is necessary to understand all of the variables that can cause a truck to take more or less time to collect sanitation cans. The following factors were measured through detailed field data collection. Data analysts performed "ride-alongs" for multiple sanitation routes covering different parts of the city to collect actual collection times by street and numbers of sanitation cans out for collection.</p>
		<hr>
	</div>
</div>