 <div  id='{{ report.name }}-balance-trucks' class="container">
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row" id="{{ report.name }}" >
          <div class="container">
            <div class="row" >
              <div class="col-md-8 col-xs-8">
                <h2><strong>{{ report.name }}</strong></h2>
                <h3>Map</h3>
                <div id='proposed{{ report.lname }}map' class="proposedtruckmap" ></div>
                <p>Map of {{ report.lname }} pickup days</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/coa_sanitation_balance_days_{{ report.lname }}_plan.geojson"  target="_blank"> Get Map Data</a>
              </div>
              <div id='value'  class="col-md-2 col-xs-2">
                <h2><strong>&nbsp;</strong></h2>
                <h3>&nbsp;</h3>
                <div >
                  <div  ><strong>Total Time: </strong><span id="tt{{ report.lname }}proposed"></span></div>
                  <div  ><strong>Cans:  </strong><span id="c{{ report.lname }}proposed"></span></div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-md-7 col-xs-7">
                <div id="proposed{{ report.lname }}timechart" ></div>
              </div>
              <div class="col-md-5 col-xs-5">
                <h3>{{ report.name }}</h3>
                <h4>Time</h4>
                <p>This chart displays the total proposed time to be spent by each truck picking up sanitation cans on {{ report.name }}. These estimates include the time for transfer station drop-offs but do not include time for driving to and from the Public Works building. </p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}proposedtruck.csv"  target="_blank"> Get Chart Data</a>
              </div>
            </div>
          </div>

          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-md-5 col-xs-5">
                <h3>{{ report.name }}</h3>
                <h4>Cans</h4>
                <p>This chart displays the estimated number of cans to be picked up by each truck on {{ report.name }}.</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}proposedtruck.csv"  target="_blank"> Get Chart Data</a>
              </div>
              <div class="col-md-7 col-xs-7">
                <div id="proposed{{ report.lname }}canchart" ></div>
              </div>
            </div>
          </div>
          <hr>
          <div class="container">
            <div class="row" >
              <div class="col-md-12 col-xs-12">
                <h3>{{ report.name }}</h3>
                <h4>Data table</h4>
                <div>
                  <div  class="col-md-12 col-xs-12" id="{{ report.lname }}proposeddata" ></div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <br>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}proposedtruck.csv"  target="_blank"> Get Table Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>