 <div  id='{{ report.name }}-balance-days' class="container">
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row" id="{{ report.name }}" >
          <div class="container">
            <div class="row" >
              <div class="col-md-8 col-xs-8">
                <h2><strong>{{ report.name }}</strong></h2>
                <h3>map</h3>
                <div id='{{ report.lname }}map' ></div>
                <p>map of {{ report.name }} pickup days.</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/coa_sanitation_balance_days_{{ report.lname }}.geojson"  target="_blank"> Get Map Data</a>
              </div>
              <div id='value'  class="col-md-2 col-xs-2">
                <h2><strong>&nbsp;</strong></h2>
                <h3>&nbsp;</h3>
                <div >
                  <div  ><strong>Total Time: </strong><span id="tt{{ report.lname }}"></span></div>
                  <div  ><strong>Cans:  </strong><span id="c{{ report.lname }}"></span></div>
                  <div  ><strong>Time per truck: </strong><span id="ttt{{ report.lname }}"></span></div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-md-7 col-xs-7">
                <div id="{{ report.lname }}timechart" ></div>
              </div>
              <div class="col-md-5 col-xs-5">
                <h3>{{ report.name }}</h3>
                <h4>Time</h4>
                <p>Based on or predictions this chart displays the time to pickup on our {{ report.name }} trash pickup. This does not include transfer station drop-offs nor driving to and from the Public Works building</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Chart Data</a>
              </div>
            </div>
          </div>

          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-md-5 col-xs-5">
                <h3>{{ report.name }}</h3>
                <h4>Cans</h4>
                <p>This chart displays the total number of cans for each day, on the {{ report.lname }} trash pick days.</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Chart Data</a>
              </div>
              <div class="col-md-7 col-xs-7">
                <div id="{{ report.lname }}canchart" ></div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row" >
              <div class="col-md-12 col-xs-12">
                <h3>{{ report.name }}</h3>
                <h4>Data table for {{ report.name }} trash pickup areas</h4>
                <div>
                  <div  class="col-md-12 col-xs-12" id="{{ report.lname }}data" ></div>
                </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <br>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Table Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>