 <div id="Problem" class="container">
 	<div class="row" >
 		<div class="panel panel-default">
 			<div class="panel-body">
 				<div class="row"   >
 					<div class="col-lg-12 col-md-12" id="Problem">
 						<h2><strong>Problem</strong></h2>
 						<hr>
 						<h4>Why are we doing this?</h4>
 						<p>Out of balance trash areas.  Some days trucks finish drastically different times.  attempt to better balance days and on each day better balance of hours trucks out.</p>
 					</div>   
 				</div>
 			</div>
 		</div>
 	</div>
 </div>