<div class="row"   >
  <div class="col-lg-12 col-md-12" id="Summary">
      <h2><strong>Executive Summary</strong></h2>
      <p>City of Asheville IT Services and Public Works partnered to analyze sanitation truck routing and to determine if efficiencies could be achieved. The original project goals included the following:<p>
      <ol>             
        <li>Reduce the total number of required routes per week</li>
        <li>Balance the workload required for each day and between each truck’s daily route</li>
        <li>Develop/improve necessary data resources to support the project</li>
        <li>Minimize miles traveled to collect residential solid waste</li>
        <li>Limit disruptions to customers by minimizing collection day changes</li>
        <li>Through 1-5 above, reduce overall costs of labor, maintenance, and fuel</li>
      </ol>

      <p>Initial project findings and recommendations include:</p>

      <ol>             
        <li>Truck routes can be reduced from 26 to 24 each week</li>
        <li>Daily workloads have been balanced and truck routes for each day have been balanced.</li>
        <li>The underlying data resources to support this project are significantly improved. Data analysts collected detailed field records of collection times and modeled collection times based on streets and number of cans to collect. The number of “mismatched” sanitation cans in the GIS database was reduced from approximately 3000 to 400 (10% of total to less than 1.5%) with ongoing improvements. </li>
        <li>An important lesson learned was that the sanitation drivers are extremely efficient in their routing and can meet or exceed the computer-modeled routing in most cases. However, eliminating two routes per week will result in fewer overall miles traveled.</li>
        <li>The route balancing analysis was performed to minimize disruptions to customers by keeping daily service areas largely unchanged.</li>
        <li>The results of this project are expected to reduce overall costs of labor (2 fewer drivers per week), maintenance (2 fewer truck routes per week), and fuel.</li>
      </ol>
      <p>Interestingly, the initial project plan expected to achieve significant savings by optimizing each individual route. However, the field-collected data made it clear that the sanitation drivers already drive remarkably efficient routes. Indeed, the software models could not outperform the drivers. However, thanks to the improved sanitation data resources collected during the project, significant savings can be achieved by balancing the work days and the truck routes within each day. The following report details current conditions and all of the data and methods used to support the analysis and the recommended changes.</p>
  </div>   
</div>