<div>
      <p>The process for creating the trash balance areas involves first gettting the preictions discussed prevously.  
            Then applying the data to the sreet centerlines.  The data added includes start and end elvation, precitiosn, cans observered if availalbe, cans actual, length, sisudal index, density of cans  
      </p> 
      
      <br>
      The trash network data:<br>
      <a class="btn btn-default  fa fa-download" href="https://github.com/cityofasheville/sanitationreport/raw/gh-pages/data/coa_sanitation_trash_network.zip"  target="_blank"> Get Data</a>
      <br>
      The trash network is based on our street network:<br>
      <a class="btn btn-default  fa fa-download" href="https://github.com/cityofasheville/sanitationreport/raw/gh-pages/data/bc_street_network.zip"  target="_blank"> Get Data</a>
      <br>
      The Mid points offset:<br>
      <a class="btn btn-default  fa fa-download" href="https://github.com/cityofasheville/sanitationreport/raw/gh-pages/data/bc_street_midpoint_offset_cache.zip"  target="_blank"> Get Data</a>
      <br>
      The Trash Balancing Polygons<br>
      <a class="btn btn-default  fa fa-download" href="https://github.com/cityofasheville/sanitationreport/raw/gh-pages/data/coa_districts_sanitation_predictions_cache.zip"  target="_blank"> Get Data</a>
</div>