 <div  id='{{ report.name }}-balance-days' class="container">
  <div class="row" >
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row" id="{{ report.name }}" >
          <div class="container">
            <div class="row" >
              <div class="col-lg-8 col-md-8">
                <h2><strong>{{ report.name }}</strong></h2>
                <h3>map</h3>
                <div id='{{ report.lname }}map' ></div>
                <p>map of {{ report.name }} pickup days.</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/coa_sanitation_balance_days_{{ report.lname }}.geojson"  target="_blank"> Get Map Data</a>
              </div>
              <div id='value'  class="col-lg-2 col-md-2">
                <h2><strong>&nbsp;</strong></h2>
                <h3>&nbsp;</h3>
                <div >
                  <div  ><strong>Total Time: </strong><span id="tt{{ report.lname }}"></span></div>
                  <div  ><strong>Cans:  </strong><span id="c{{ report.lname }}"></span></div>
                  <div  ><strong>Time per truck: </strong><span id="ttt{{ report.lname }}"></span></div>
                  <div  ><span id="highlight{{ report.lname }}"></span></div>
                </div>
              </div>
            </div>
          </div>
          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-lg-7 col-md-7">
                <div id="{{ report.lname }}timechart" ></div>
              </div>
              <div class="col-lg-5 col-md-5">
                <h3>{{ report.name }} Time</h3>
                <h4>Predicted time</h4>
                <p>This chart is the {{ report.name }} time to pickup,b ased on our predictiosn. it does not include transfer station dreopoffs nor dirving to and from the PW building</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Chart Data</a>
              </div>
            </div>
          </div>

          <hr>

          <div class="container">
            <div class="row" >
              <div class="col-lg-5 col-md-5">
                <h3>{{ report.name }} Cans</h3>
                <h4>Predicted cans</h4>
                <p>This chart is the {{ report.lname }} time to pickup,b ased on our predictions. It does not include transfer station dropoffs nor dirving to and from the PW building</p>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Chart Data</a>
              </div>
              <div class="col-lg-7 col-md-7">
                <div id="{{ report.lname }}canchart" ></div>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row" >
              <div class="col-lg-7 col-md-7">
                <h3>{{ report.name }} Data</h3>
                <h4>Data View for {{ report.name }} Areas</h4>
                <div>
                  <div  class="col-lg-12 col-md-12" id="{{ report.lname }}data" ></div>
                </div>
              </div>
              <div class="col-lg-7 col-md-7">
                <br>
                <a class="btn btn-default fa fa-download" href="https://raw.github.com/cityofasheville/sanitationreport/gh-pages/data/{{ report.lname }}day.csv"  target="_blank"> Get Table Data</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>