<div>
	<div>The resulting matrix:</div>
	<br/>
	<a class="btn btn-default fa fa-download" href="https://github.com/cityofasheville/sanitationreport/blob/gh-pages/data/correlation-matrix1.csv" target="_blank" > View Matrix</a>
    <hr>
	<p>Correlations closer to 1 are more highly correlated. 
		so in this case the distance + cans is .88 thats considered highly related.</p>
		<p>The only items that have an significant correlation to the time it takes a trash truck to traverse and pick up trash was distance and #of cans as demonstrated by this correlation index maybe backing up but thats a stretch.
	</p>
	
</div>
