{% include page_header.html %}

{% include navbar.html %}


    
    <div class="container"><!-- Report Container -->

      <!-- Title -->
      <h1><a href="#">{{ page.title }} <strong>{{ page.version }}</strong></a></h1>
      <p class="lead"><a href="index.php">{{ page.owner }}</a></p>
      <hr>
      <p>
        <span class="glyphicon glyphicon-time"></span>{{ page.publishdate }}
      </p>
      <hr>
    </div>

      <!-- /Title -->
      {% include report_summary.html %}
      <hr>
      {% include report_problem.html %}
      <hr>

       {% for report in site.data.report-balance-days %} 
            {% include report-balance-days.html %}
            <hr>
       {%  endfor  %}

       {% include report-cancleanup.html %}
       <hr>
       <div  id='balance-trucks' class="container">
        <div class="row" >
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Proposed Pickups by Day and Truck</h3>
              <hr>
            </div>
          </div>
        </div>
      </div>


         {% for report in site.data.report-balance-trucks %} 
              {% include report-balance-trucks.html %}
              <hr>
         {%  endfor  %}
       
      <hr>

      <div  id='Methodology' class="container">
        <div class="row" >
          <div class="panel panel-default">
            <div class="panel-body">
              {% include report-method-header.html %}
              <ul class="timeline">
              {% for method in site.data.report-methodology.methods %}
                <li class="timeline-{{method.side}}">
                    <div class="timeline-badge success">
                      <i class="fa {{method.icon}}"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{method.header}}</h4>
                            <hr>
                        </div>
                        <div class="timeline-body">
                            {% include {{method.include}} %}
                        </div>
                    </div>
                </li>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>



    </div><!-- /Report Container -->
<hr>

{% include report_footer.html %}

{% include page_footer.html %}



